<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>새로운 여행 커뮤니티 TripBoat</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/bootstrap/img/favicon.png" rel="icon">
  <link href="/bootstrap/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/bootstrap/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/bootstrap/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/bootstrap/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="/bootstrap/css/variables.css" rel="stylesheet">
  <link href="/bootstrap/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: ZenBlog - v1.2.1
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

<div th:replace="navbar :: navbarfragment"></div>

<!-- ======= Header ======= -->
<!--<div style="width:1440px; height:146px;">-->
<!--  <div style="width:1200px; height:146px; margin-left:auto; margin-right:auto;">-->
<!--    <div style="width:1200px; height:80px; margin-left:auto; margin-right:auto; ">-->
<!--      <header id="header" class="header d-flex align-items-center fixed-top" style="background-color:white; box-shadow: rgba(0,0,0,0.08) 0px 1px 2px;">-->
<!--        <div class="container-fluid container-xl d-flex align-items-center justify-content-between;">-->
<!--          &lt;!&ndash; Uncomment the line below if you also wish to use an image logo &ndash;&gt;-->
<!--          &lt;!&ndash; <img src="/bootstrap/img/logo.png" alt=""> &ndash;&gt;-->
<!--          <nav id="navbar" class="navbar" style="width:387px; height:80px; margin-bottom:63px;">-->
<!--            <a class="nav-link" th:href="@{/main}" style="font-family: 'Do Hyeon', sans-serif; font-weight:bold; width:156px; height:35px; font-size:30px;">TripBoat</a>-->
<!--            <a href="nav-link" th:href="@{/main}" style="font-family: 'Do Hyeon', sans-serif; font-weight:bold; font-size:20px; ">커뮤니티</a>-->
<!--            <a href="single-post.html" style="font-weight:bold; font-size:20px; font-family: 'Do Hyeon', sans-serif;">Single Post</a>-->
<!--          </nav>-->
<!--          <nav id="navbar1" class="navbar" style="width:593px; height:80px; margin-bottom:63px; margin-left:300px;">-->
<!--            <input type="text" placeholder="검색어를 입력하세요" style="width:300px; height:40px; border-radius:20px; margin-left:5px; border:1px solid gray; padding:15px;">-->
<!--            <div style="width:140px; height:40px; margin-right:120px; position:relative;">-->
<!--              <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" style="font-family: 'Do Hyeon', sans-serif; font-weight:bold; font-size:18px; position:absolute; margin-left:-30px;">로그인</a>-->
<!--              <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" style="font-family: 'Do Hyeon', sans-serif; font-weight:bold; font-size:18px; position:absolute; margin-left:-30px;">로그아웃</a>-->
<!--              <a class="nav-link" th:href="@{/signup}" style="font-family: 'Do Hyeon', sans-serif; font-weight:bold; font-size:18px; position:absolute; margin-left:40px;" >회원가입</a>-->
<!--            </div>-->
<!--            <div style="width:100px; height:40px; position:absolute; margin-left:485px; background-color:#00ce7c; border-radius:10px; text-align:center;">-->
<!--              <a class="nav-link" th:href="@{/signup}" style="color:white; font-family: 'Do Hyeon', sans-serif; font-size:20px; font-weight:bold; text-align:center; display:flex; align-item:center;">글쓰기</a>-->
<!--            </div>-->
<!--          </nav>-->
<!--          <nav id="navbar2" class="navbar">-->
<!--            <div style="width:1200px; height:66px; margin-top:75px; z-index:1; margin-left:-1250px;">-->
<!--              <a class="nav-link" style="font-size:20px; font-weight:bold; margin-top:5px; margin-left:-20px; font-family: 'Do Hyeon', sans-serif;">홈</a>-->
<!--              <a class="nav-link" style="font-size:20px; font-weight:bold; margin-left:30px; margin-top:-50px; font-family: 'Do Hyeon', sans-serif;">Q&A</a>-->
<!--            </div>-->
<!--          </nav>-->
<!--          &lt;!&ndash; .navbar &ndash;&gt;-->
<!--        </div>-->
<!--      </header>&lt;!&ndash; End Header &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<main id="main">
  <!-- ======= Hero Slider Section ======= -->
  <!--  <section id="hero-slider" class="hero-slider">-->
  <!--    <div class="container-md" data-aos="fade-in">-->
  <!--      <div class="row">-->
  <!--        <div class="col-12">-->
  <!--          <div class="swiper sliderFeaturedPosts">-->
  <!--            <div class="swiper-wrapper">-->
  <!--              <div class="swiper-slide">-->
  <!--                <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('/bootstrap/img/post-slide-1.jpg');">-->
  <!--                  <div class="img-bg-inner">-->
  <!--                    <h2>The Best Homemade Masks for Face (keep the Pimples Away)</h2>-->
  <!--                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>-->
  <!--                  </div>-->
  <!--                </a>-->
  <!--              </div>-->

  <!--              <div class="swiper-slide">-->
  <!--                <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('/bootstrap/img/post-slide-2.jpg');">-->
  <!--                  <div class="img-bg-inner">-->
  <!--                    <h2>17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</h2>-->
  <!--                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>-->
  <!--                  </div>-->
  <!--                </a>-->
  <!--              </div>-->

  <!--              <div class="swiper-slide">-->
  <!--                <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('/bootstrap/img/post-slide-3.jpg');">-->
  <!--                  <div class="img-bg-inner">-->
  <!--                    <h2>13 Amazing Poems from Shel Silverstein with Valuable Life Lessons</h2>-->
  <!--                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>-->
  <!--                  </div>-->
  <!--                </a>-->
  <!--              </div>-->

  <!--              <div class="swiper-slide">-->
  <!--                <a href="single-post.html" class="img-bg d-flex align-items-end" style="background-image: url('/bootstrap/img/post-slide-4.jpg');">-->
  <!--                  <div class="img-bg-inner">-->
  <!--                    <h2>9 Half-up/half-down Hairstyles for Long and Medium Hair</h2>-->
  <!--                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem neque est mollitia! Beatae minima assumenda repellat harum vero, officiis ipsam magnam obcaecati cumque maxime inventore repudiandae quidem necessitatibus rem atque.</p>-->
  <!--                  </div>-->
  <!--                </a>-->
  <!--              </div>-->
  <!--            </div>-->
  <!--            <div class="custom-swiper-button-next">-->
  <!--              <span class="bi-chevron-right"></span>-->
  <!--            </div>-->
  <!--            <div class="custom-swiper-button-prev">-->
  <!--              <span class="bi-chevron-left"></span>-->
  <!--            </div>-->

  <!--            <div class="swiper-pagination"></div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </section>&lt;!&ndash; End Hero Slider Section &ndash;&gt;-->
  <div style="margin-left:auto; margin-right:auto;">
    <svg th:replace="maps :: mapsfragment"></svg>
  </div>
</main>
  <!-- ======= Post Grid Section ======= -->
  <section id="posts" class="posts" style="border: 1px solid red; z-index:1;">
    <div class="container" data-aos="fade-up">
      <div class="row g-5">
        <div class="col-lg-4">
          <div class="post-entry-1 lg">
            <a href="single-post.html"><img src="/bootstrap/img/남산타워.jpg" alt="" class="img-fluid"></a>
            <div class="post-meta"><span class="date">서울 남산타워</span> <span class="mx-1">&bullet;</span> <span>22년 5월</span></div>
            <h3><a href="single-post.html">서울 남산타워에서 밤에 찍은 남산타워 모습</a></h3>
            <p class="mb-4 d-block">22년 5월에 서울에 놀러가서 야경을 보기 위해 남산타워에 놀러갔습니다. 역시 야경은 너무 멋졌고 커플분들도 되게 많이 있더라구요....</p>
            <div class="d-flex align-items-center author">
              <div class="photo"><img src="/bootstrap/img/person-1.jpg" alt="" class="img-fluid"></div>
              <div class="name">
                <h3 class="m-0 p-0">유경민</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row g-5">
            <div class="col-lg-4 border-start custom-border">
              <div class="post-entry-1">
                <a href="single-post.html"><img src="/bootstrap/img/인천.jpg" alt="" class="img-fluid"></a>
                <div class="post-meta"><span class="date">인천대교</span> <span class="mx-1">&bullet;</span> <span>22년 6월 인천대교</span></div>
                <h2><a href="single-post.html">인천대교 야경</a></h2>
              </div>
              <div class="post-entry-1">
                <a href="single-post.html"><img src="/bootstrap/img/post-landscape-5.jpg" alt="" class="img-fluid"></a>
                <div class="post-meta"><span class="date">Food</span> <span class="mx-1">&bullet;</span> <span>Jul 17th '22</span></div>
                <h2><a href="single-post.html">How to Avoid Distraction and Stay Focused During Video Calls?</a></h2>
              </div>
              <div class="post-entry-1">
                <a href="single-post.html"><img src="/bootstrap/img/post-landscape-7.jpg" alt="" class="img-fluid"></a>
                <div class="post-meta"><span class="date">Design</span> <span class="mx-1">&bullet;</span> <span>Mar 15th '22</span></div>
                <h2><a href="single-post.html">Why Craigslist Tampa Is One of The Most Interesting Places On the Web?</a></h2>
              </div>
            </div>
            <div class="col-lg-4 border-start custom-border">
              <div class="post-entry-1">
                <a href="single-post.html"><img src="/bootstrap/img/post-landscape-3.jpg" alt="" class="img-fluid"></a>
                <div class="post-meta"><span class="date">Business</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                <h2><a href="single-post.html">6 Easy Steps To Create Your Own Cute Merch For Instagram</a></h2>
              </div>
              <div class="post-entry-1">
                <a href="single-post.html"><img src="/bootstrap/img/post-landscape-6.jpg" alt="" class="img-fluid"></a>
                <div class="post-meta"><span class="date">Tech</span> <span class="mx-1">&bullet;</span> <span>Mar 1st '22</span></div>
                <h2><a href="single-post.html">10 Life-Changing Hacks Every Working Mom Should Know</a></h2>
              </div>
              <div class="post-entry-1">
                <a href="single-post.html"><img src="/bootstrap/img/post-landscape-8.jpg" alt="" class="img-fluid"></a>
                <div class="post-meta"><span class="date">Travel</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                <h2><a href="single-post.html">5 Great Startup Tips for Female Founders</a></h2>
              </div>
            </div>
            <!-- Trending Section -->
            <div class="col-lg-4">
              <div class="trending">
                <h3>Trending</h3>
                <ul class="trending-post">
                  <li>
                    <a href="single-post.html">
                      <span class="number">1</span>
                      <h3>The Best Homemade Masks for Face (keep the Pimples Away)</h3>
                      <span class="author">Jane Cooper</span>
                    </a>
                  </li>
                  <li>
                    <a href="single-post.html">
                      <span class="number">2</span>
                      <h3>17 Pictures of Medium Length Hair in Layers That Will Inspire Your New Haircut</h3>
                      <span class="author">Wade Warren</span>
                    </a>
                  </li>
                  <li>
                    <a href="single-post.html">
                      <span class="number">3</span>
                      <h3>13 Amazing Poems from Shel Silverstein with Valuable Life Lessons</h3>
                      <span class="author">Esther Howard</span>
                    </a>
                  </li>
                  <li>
                    <a href="single-post.html">
                      <span class="number">4</span>
                      <h3>9 Half-up/half-down Hairstyles for Long and Medium Hair</h3>
                      <span class="author">Cameron Williamson</span>
                    </a>
                  </li>
                  <li>
                    <a href="single-post.html">
                      <span class="number">5</span>
                      <h3>Life Insurance And Pregnancy: A Working Mom’s Guide</h3>
                      <span class="author">Jenny Wilson</span>
                    </a>
                  </li>
                </ul>
              </div>

            </div> <!-- End Trending Section -->
          </div>
        </div>

      </div> <!-- End .row -->
    </div>
  </section> <!-- End Post Grid Section -->

  <!-- Vendor JS Files -->
  <script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/bootstrap/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/bootstrap/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/bootstrap/vendor/aos/aos.js"></script>
  <script src="/bootstrap/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/bootstrap/js/main.js"></script>

  </body>
</html>