<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>ZenBlog Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/bootstrap/img/favicon.png" rel="icon">
    <link href="/bootstrap/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/bootstrap/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/bootstrap/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/bootstrap/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS Files -->
    <link href="/bootstrap/css/variables.css" rel="stylesheet">
    <link href="/bootstrap/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: ZenBlog - v1.2.1
    * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
    * Author: BootstrapMade.com
    * License: https:///bootstrapmade.com/license/
    ======================================================== -->
    <div th:replace="secondnavbar :: secondnavbarfragment"></div>
    <body>
<!--<section class="vh-5500 bg-image"-->
<!--         style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">-->
<!--    <div class="mask d-flex align-items-center h-100 gradient-custom-3">-->
        <div>
            <h2 style="font-weight:bold; font-size:30px; font-family: 'Do Hyeon', sans-serif; text-align:center; margin-top:100px;">회원가입</h2>
            <div>
                <div>
                    <div style="border-radius:15px; margin-left:auto; margin-right: auto; border:1px solid gray; width:350px; height:308px; margin-top:50px; margin-bottom:50px; position:relative; background-color:rgb(248, 248, 248);">
                        <div class="card-body p-5">
                            <form th:action="@{/signup}" th:object="${userCreateForm}" method ="post">
                                <div class="mb-3" style="text-align:center;">
                                    <label for="username"></label>
                                    <input type="text" th:field="*{username}" placeholder="아이디를 입력 하세요" style="width:327px; height: 58px; border-radius:5px; margin-left:-163px; margin-top:-30px; position:absolute; border:1px solid gray; padding:10px;">
                                </div>
                                <div class="mb-3" style="text-align: center;">
                                    <label for="password1"></label>
                                    <input type="password" th:field="*{password1}" placeholder="비밀번호를 입력 하세요" style="width:327px; height: 58px; border-radius:5px; margin-left:-163px; position:absolute; border:1px solid gray; padding:10px; ">
                                </div>
                                <div class="mb-3" style="text-align: center;">
                                    <label for="password2"></label>
                                    <input type="password" th:field="*{password2}" placeholder="비밀번호를 다시 한 번 입력하세요" style="width:327px; height: 58px; border-radius:5px; margin-left:-163px; margin-top: 30px; position:absolute; border:1px solid gray; padding:10px;">
                                </div>
                                <div class="mb-3" style="text-align: center;">
                                    <label for="email"></label>
                                    <input type="email" th:field="*{email}" placeholder="이메일을 입력 하세요" style="width:327px; height: 58px; border-radius:5px; margin-left:-163px; margin-top:60px; position:absolute; border:1px solid gray; padding:10px;">
                                </div>
                                <br/>
<!--                                <div th:replace=" form_errors :: formerrorsfragment"></div>-->
                                <div class="d-flex justify-content-center" style="text-align:center;">
                                        <button type="submit" style="width:327px; height: 58px; border-radius:5px; font-weight:bold;
                                        font-size: 30px; background-color:#00ce7c; font-family: 'Do Hyeon', sans-serif; color:white; margin-top:100px; position:absolute; " >회원가입</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<div th:replace="footer :: footerfragment"></div>
        </body>
    </head>
</html>